<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rendzina Capital" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rendzina Capital" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
      <ul class="icons row">
        <div class="large-6 large-centered columns">
          <div class="row">
            <li class="large-4 column"><a href="#"><i class="fi-social-twitter"></i></a></li>
            <li class="large-4 column"><a href="#"><i class="fi-social-facebook"></i></a></li>
            <li class="large-4 column"><a href="#"><i class="fi-social-linkedin"></i></a></li>
          </div>
        </div>
      </ul>
      <ul class="menu row">
        <div class="large-7 large-centered columns">
          <div class="row">
            <li class="large-3 column"><a href="/careers">Careers</a></li>
            <li class="large-3 column"><a href="#">Terms of Use</a></li>
            <li class="large-3 column"><a href="#">Privacy</a></li>
            <li class="large-3 column"><a href="#">Contact</a></li>
          </div>
        </div>
      </ul>
      <div id="copyright" class="container">
        <p>&copy; Rendzina Capital <%= Date.today.year %> All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
